# Ibis MapD/OmniSci Window Operations

The PR [#1771](https://github.com/ibis-project/ibis/pull/1771) added support to window operations into Ibis MapD/OmniSci backend.

The first operations available are:

- lag
- firstvalue
- lead
- lastvalue
- mean
- min
- max
- sum

In [1]:
import ibis
import pandas as pd

In [19]:
db_conf = dict(
    host='localhost', port='6274', 
    user='mapd', password='HyperInteractive', 
    database='ibis_testing'
)

def make_mapd_connection(db_conf):
    return ibis.mapd.connect(**db_conf)

mapd = make_mapd_connection(db_conf)

In [20]:
# show database version
mapd.con._client.get_version()

'4.6.1-20190501-1937c23915'

In [21]:
mapd.list_tables()

['diamonds', 'batting', 'awards_players', 'functional_alltypes', 'geo']

In [22]:
t = mapd.table('functional_alltypes')
win = ibis.window(
    following=0,
    group_by=[t.string_col],
    order_by=[t.id],
)

## lag

In [25]:
expr = t.double_col.lag().over(win)
print(expr.compile())
expr.execute().head(5)

SELECT lag("double_col") OVER (PARTITION BY "string_col" ORDER BY "id") AS tmp
FROM functional_alltypes

0     0.0
1    10.1
2    20.2
3    30.3
4    40.4
Name: tmp, dtype: float64

# firstvalue

In [26]:
expr = t.double_col.first().over(win)
print(expr.compile())
expr.execute().head(5)

SELECT first_value("double_col") OVER (PARTITION BY "string_col" ORDER BY "id") AS tmp
FROM functional_alltypes

0     0.0
1    10.1
2    20.2
3    30.3
4    40.4
Name: tmp, dtype: float64

## lead

In [27]:
expr = t.double_col.lead().over(win)
print(expr.compile())
expr.execute().head(5)

SELECT lead("double_col") OVER (PARTITION BY "string_col" ORDER BY "id") AS tmp
FROM functional_alltypes

0     0.0
1    10.1
2    20.2
3    30.3
4    40.4
Name: tmp, dtype: float64

## lastvalue

In [28]:
expr = t.double_col.last().over(win)
print(expr.compile())
expr.execute().head(5)

SELECT last_value("double_col") OVER (PARTITION BY "string_col" ORDER BY "id") AS tmp
FROM functional_alltypes

0     0.0
1    10.1
2    20.2
3    30.3
4    40.4
Name: tmp, dtype: float64

## mean

In [29]:
expr = t.double_col.mean().over(win)
print(expr.compile())
expr.execute().head(5)

SELECT avg("double_col") OVER (PARTITION BY "string_col" ORDER BY "id") AS tmp
FROM functional_alltypes

0     0.0
1    10.1
2    20.2
3    30.3
4    40.4
Name: tmp, dtype: float64

## min

In [30]:
expr = t.double_col.min().over(win)
print(expr.compile())
expr.execute().head(5)

SELECT min("double_col") OVER (PARTITION BY "string_col" ORDER BY "id") AS tmp
FROM functional_alltypes

0     0.0
1    10.1
2    20.2
3    30.3
4    40.4
Name: tmp, dtype: float64

## max

In [34]:
expr = t.double_col.max().over(win)
print(expr.compile())
expr.execute().head(5)

SELECT max("double_col") OVER (PARTITION BY "string_col" ORDER BY "id") AS tmp
FROM functional_alltypes

0     0.0
1    10.1
2    20.2
3    30.3
4    40.4
Name: tmp, dtype: float64

## sum

In [33]:
expr = t.double_col.sum().over(win)
print(expr.compile())
expr.execute().head(5)

SELECT sum("double_col") OVER (PARTITION BY "string_col" ORDER BY "id") AS tmp
FROM functional_alltypes

0        0.0
1     6767.0
2    13534.0
3    20301.0
4    27068.0
Name: tmp, dtype: float64