In [1]:
import pyarrow
import pymapd
import pandas as pd

In [2]:
def cursor2df(cursor):
    col_names = [c.name for c in cursor.description]
    return pd.DataFrame(cursor.fetchall(), columns=col_names)

In [3]:
con = pymapd.connect(host='localhost', user='admin', password='HyperInteractive')

In [4]:
con.execute('''
DROP TABLE IF EXISTS mytablearray;
''')

con.execute('''
CREATE TABLE mytablearray (
    col_a INT[],
    col_b INT,
    col_c text,
    col_d double
);
''')

In [5]:
# df = pd.DataFrame({'a': pd.array([pd.array([1, 2], dtype='int'), pd.array([4, 5, 6, 7], dtype='int')])})
df = pd.DataFrame({
    'a': [[1, 2], [4, 5, 6, 7]],
    'b': [1, 2],
    'c': ['a', 'b'],
    'd': [1.1, 2.2]
})
df.iloc[0:1, :]

        a  b  c    d
0  [1, 2]  1  a  1.1

In [6]:
df.dtypes

a     object
b      int64
c     object
d    float64
dtype: object

In [7]:
con.load_table('mytablearray', df, method='rows')

In [8]:
cur = con.execute('select * from mytablearray')

In [9]:
df = cursor2df(cur)

In [10]:
df

          col_a  col_b col_c  col_d
0        [1, 2]      1     a    1.1
1  [4, 5, 6, 7]      2     b    2.2