In [1]:
import ibis
import pandas as pd
# local
from settings import conf
from utils import cursor2df

In [2]:
con = ibis.omniscidb.connect(**conf['omniscidb'])
con

In [3]:
table_name = 'functional_alltypes'
t = con.table(table_name)
t.int_col.histogram(nbins=10).execute()

0       0.0
1       1.0
2       2.0
3       3.0
4       4.0
       ...
7295    5.0
7296    6.0
7297    7.0
7298    8.0
7299    9.0
Name: tmp, Length: 7300, dtype: category
Categories (10, float64): [0.0, 1.0, 2.0, 3.0, ..., 6.0, 7.0, 8.0, 9.0]

In [4]:
sql = '''
    SELECT 
      (float_col / -2.0) AS tmp1a,
      floor(float_col / -2.0) AS tmp1b
    FROM {}
    order by rowid
    limit 10
'''.format(table_name)

cur = con.con.execute(sql)
display(cur.description)
cursor2df(cur)

[Description(name='tmp1a', type_code=3, display_size=None, internal_size=None, precision=None, scale=None, null_ok=True),
 Description(name='tmp1b', type_code=5, display_size=None, internal_size=None, precision=None, scale=None, null_ok=True)]

   tmp1a  tmp1b
0  -0.00   -0.0
1  -0.55   -1.0
2  -1.10   -2.0
3  -1.65   -2.0
4  -2.20   -3.0
5  -2.75   -3.0
6  -3.30   -4.0
7  -3.85   -4.0
8  -4.40   -5.0
9  -4.95   -5.0